/*****************************************************************************/
/*
/* Custom CSS
/*
/*****************************************************************************/

math, .MathJax {
    color: black;
}

.mi {
	color: black;
}

.mn {
	color: black;
}

.mo {
	color: black;
}